body{
    margin: 0;
    background-color: var(--blue10);

    --light-bg: var(--white);
    --dark-bg: var(--gray80);

    --light-text: var(--gray90);
    --dark-text: var(--gray10);

    --light-text-input:var(--dark-text);
    --dark-text-input: var(--light-text);

    --light-text-placeholder: #00000020;
    --dark-text-placeholder: #ffffff20;

    --light-text-button: var(--dark-text);
    --dark-text-button: var(--light-text);

    --light-bg-dialog: var(--gray30);
    --dark-bg-dialog: var(--gray70);

    --delete-color: var(--red60);

    --active-button-bg:var(--blue60);
    --focus-color: var(--blue60);

}

.roundBorder{
    border: #00000000 2px solid;
    border-radius: var(--corner-radius);
    padding: 0 .6em;
    box-sizing: border-box;
}

.flexRow{
    display: flex;
    flex-direction: row;
}

.warningIcon{
    color: var(--red60);
}

.buttonContents{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5em;
}

.appendTimeElement{
    margin: 3px;
    height: calc(3rem * .8);
}

.footer{
    background-color: var(--white);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: .5em 1vw .5em 1vw;
    border-top: 2px solid var(--gray15);

}
.header{
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em 1vw .5em 1vw;
    border-bottom: 2px solid var(--gray15);
}

#appendTime {
    /*margin: 0 auto;
    max-width: 1500px;*/
    width: 100%;

    --font-size:.8em;
}



.transitionDown{
    height: fit-content;
    max-height: 300px;
    overflow: hidden;
    -webkit-transition: max-height .15s ease-in-out;
    -moz-transition: max-height .15s ease-in-out;
    -ms-transition: max-height .15s ease-in-out;
    -o-transition: max-height .15s ease-in-out;
    transition: max-height .15s ease-in-out;
}

.hiddenForm{
    max-height: 0;
}

.primaryButton, .secondaryButton, .tertiaryButton, .deleteButton {
    font-weight: 700;
    font-size: var(--font-size);
}

button:disabled,
input[type="button"]:disabled{
    background-color: var(--gray30);
    color:var(--gray50);
}

.primaryButton{
    background-color: var(--blue60);
    color: var(--dark-text);
}
.primaryButton:hover:enabled{
    background-color: var(--blue60Hover);
}
.primaryButton:active:enabled{
    background-color: var(--blue80);
}
.primaryButton:disabled{
    background-color: var(--gray40);
    color:var(--gray20);
}

.primaryButton.purpleButton{
    background-color: var(--purple60);
    color: var(--dark-text);
}
.primaryButton.purpleButton:hover:enabled{
    background-color: var(--purple60Hover);
}
.primaryButton.purpleButton:active:enabled {
    background-color: var(--purple80);
    top:10px;
}
.primaryButton.purpleButton:disabled{
    background-color: var(--gray40);;
    color:var(--gray20);
}

.secondaryButton{
    background-color: var(--gray90);
    color: var(--dark-text);
}
.secondaryButton:hover:enabled{
    background-color: var(--gray90Hover);
}
.secondaryButton:active:enabled{
    background-color: var(--black);
}
.secondaryButton:disabled{
    background-color: var(--gray50);
    color:var(--gray20);
}

.tertiaryButton{
    background-color: var(--light-bg);
    border-color: var(--blue60);
    outline: 2px solid var(--light-bg);
    outline-offset: -4px;
    color: var(--blue60);
}
.tertiaryButton:hover:enabled{
    background-color: var(--blue60Hover);
    border-color: var(--blue60Hover);
    outline: none;
    color: var(--dark-text);
}
.tertiaryButton:active:enabled{
    background-color: var(--blue80);
    border-color: var(--blue80);
    outline: none;
    color: var(--dark-text);
}
.tertiaryButton:disabled{
    background-color: var(--light-bg);
    border-color: var(--gray50);
    outline: 2px solid var(--light-bg);
    outline-offset: -4px;
    color:var(--gray50);
}

.deleteButton{
    background-color: var(--red60);
    color: var(--dark-text);
}
.deleteButton:hover:enabled{
    background-color: var(--red60Hover);
}
.deleteButton:active:enabled{
    background-color: var(--red80);
}

.chevronButton{
    color: var(--gray20);
}

.chevronButton:hover{
    color: var(--gray20Hover);
}

.chevronButton:active{
    color: var(--gray40);
}

.textInput{
    background-color: var(--gray15);
    color: var(--light-text);
    font-family: var(--sans-font), Helvetica, sans-serif;
}
.textInput::placeholder {
    color: var(--gray60);
}
.textInput:-ms-input-placeholder {
    color: var(--gray60)
}
.textInput::-ms-input-placeholder {
    color: var(--gray60)
}

.notesInput:disabled{
    background-color: var(--gray20);
    border-color: #00000000;
}
.notesInput:disabled::placeholder{
    color:var(--gray30);
}
.notesInput:disabled:-ms-input-placeholder{
    color:var(--gray30);
}
.notesInput:disabled::-ms-input-placeholder{
    color:var(--gray30);
}

#dateInput,
.clockButton,
.notesInput{
    flex-grow: 1;
}

.dateTimeInput{
    min-width: 9em;
    max-width: 15em;
    text-align: center;
}

.dateTimeInput::-webkit-calendar-picker-indicator {
    display: none;
}

.dateTimeInput::after{
    height: 1.2em;
    width: 1.2em;
    padding-left: 1em;
}

#dateInput::after{
    content: url(/assets/svg/calendar.svg);
}
#timeInInput::after{
    content: url(/assets/svg/clock.svg);
}
#timeOutInput::after{
    content: url(/assets/svg/clock-off.svg);
}

#timerContainer{
    display: none;
    position: absolute;
    bottom:calc(100% + 5px);
    right: 5px;
    width: fit-content;
    background-color: var(--white);
    border: 2px solid var(--gray15);
    border-radius: calc(var(--corner-radius)*2);
    font-size: .8em;
}
#timer, #timerContainer{
    padding: max(1vh, 8px) min(1vw, 10px);
}
#timer, #timerCounter{
    display: flex;
    justify-content: center;

}
#timer{
    align-items: center;
    column-gap: .5em;
    background-color: var(--gray15);
    color: var(--light-text);
    font-family: var(--sans-font), Helvetica, sans-serif;
}
#timerCounter{
    align-items: baseline;
    column-gap: .3rem;
}
#timerSecond{
    font-size: .8em;
}

.hideButtonContainer{
    padding: 0 0 .3em 0;
}

#times{
    display: flex;
    flex-direction: row;
}

#verticalSubmitButton{
    display: none;
}

#verticalClearButton{
    display: none;
}

#verticalNotesInput{
    display: none;
}
#hideButton{
    display: none;
}

@media (pointer: coarse){
    .footer{
        border-top: 2px solid var(--gray15);
        border-left: 2px solid var(--gray15);
        border-right: 2px solid var(--gray15);
        border-top-left-radius: calc(var(--corner-radius)*2);
        border-top-right-radius: calc(var(--corner-radius)*2);
    }
    .header{
        border-bottom: 2px solid var(--gray15);
        border-left: 2px solid var(--gray15);
        border-right: 2px solid var(--gray15);
        border-bottom-left-radius: calc(var(--corner-radius)*2);
        border-bottom-right-radius: calc(var(--corner-radius)*2);
    }

    #hideButton{
        display: unset;
    }

    @media (min-width: 630px){
        .dateTimeInput{
            width: 10em;
        }
    }

    .notesInput:disabled{
        background-color: var(--gray20);
    }
    .notesInput::placeholder:disabled{
        color:black;
    }
}

@media (max-width: 630px) {
    .footer{
        border-top: 2px solid var(--gray15);
        border-left: 2px solid var(--gray15);
        border-right: 2px solid var(--gray15);
        border-top-left-radius: calc(var(--corner-radius)*2);
        border-top-right-radius: calc(var(--corner-radius)*2);
    }
    .header{
        border-bottom: 2px solid var(--gray15);
        border-left: 2px solid var(--gray15);
        border-right: 2px solid var(--gray15);
        border-bottom-left-radius: calc(var(--corner-radius)*2);
        border-bottom-right-radius: calc(var(--corner-radius)*2);
    }

    #hideButton{
        display: unset;
    }

    #times, #formInside {
        flex-direction: column;
    }
    .appendTimeElement{
        height: auto;
    }
    .roundBorder{
        border-radius: var(--corner-radius);
        padding: .3em .4em;
        box-sizing: border-box;
    }

    #horizontalSubmitButton{
        display: none;
    }
    #verticalSubmitButton{
        display: initial;
        flex-grow: 2;
    }

    #horizontalClearButton{
        display: none;
    }
    #verticalClearButton{
        display: initial;
        padding-left: 1em;
        padding-right: 1em;
    }

    #horizontalNotesInput{
        display: none;
    }
    #verticalNotesInput{
        display: initial;
        resize: none;
    }

    .clockButton{
        height: 4em;
    }

    .clockButton, .submitButton{
        font-weight: 700;
    }

}

.dialog{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    border: 2px solid var(--gray15);
    border-radius: calc(var(--corner-radius)*2);
    background-color: var(--white);
    color: var(--light-text);
}

.dialogHeader{
    font-size: 1.7em;
    font-weight: bold;
}

.dialogContent, .dialogText{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.dialogContent{
    padding: 1.5em;
}
.dialogText{
    padding: 0em 1.5em 1.5em 1.5em;
}

.dialogButton, .dialogText{
    font-size: var(--font-size);
}

.dialogButton{
    width: 7em;
    height: calc(3rem * .8);
}

dialog::backdrop {
  background: #FFFFFF60;


}

:focus{
    outline: 3px solid var(--light-bg);
    outline-offset: -1px;

    box-sizing: border-box;
}

