@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --corner-radius: .2em;

    --white: #ffffff;
    --whiteHover: #e8e8e8;

    --black: #000000;
    --blackHover: #212121;

    --yellow10: #fcf4d6;
    --yellow20: #fddc69;
    --yellow30: #f1c21b;
    --yellow40: #d2a106;
    --yellow50: #b28600;
    --yellow60: #8e6a00;
    --yellow70: #684e00;
    --yellow80: #483700;
    --yellow90: #302400;
    --yellow100: #1c1500;

    --yellow10Hover: #f8e6a0;
    --yellow20Hover: #fccd27;
    --yellow30Hover: #ddb00e;
    --yellow40Hover: #bc9005;
    --yellow50Hover: #9e7700;
    --yellow60Hover: #755800;
    --yellow70Hover: #806000;
    --yellow80Hover: #5c4600;
    --yellow90Hover: #3d2e00;
    --yellow100Hover: #332600;

    --orange10: #fff2e8;
    --orange20: #ffd9be;
    --orange30: #ffb784;
    --orange40: #ff832b;
    --orange50: #eb6200;
    --orange60: #ba4e00;
    --orange70: #8a3800;
    --orange80: #5e2900;
    --orange90: #3e1a00;
    --orange100: #231000;

    --orange10Hover: #ffe2cc;
    --orange20Hover: #ffc69e;
    --orange30Hover: #ff9d57;
    --orange40Hover: #fa6800;
    --orange50Hover: #cc5500;
    --orange60Hover: #9e4200;
    --orange70Hover: #a84400;
    --orange80Hover: #753300;
    --orange90Hover: #522200;
    --orange100Hover: #421e00;

    --red10: #fff1f1;
    --red20: #ffd7d9;
    --red30: #ffb3b8;
    --red40: #ff8389;
    --red50: #fa4d56;
    --red60: #da1e28;
    --red70: #a2191f;
    --red80: #750e13;
    --red90: #520408;
    --red100: #2d0709;

    --red10Hover: #ffe0e0;
    --red20Hover: #ffc2c5;
    --red30Hover: #ff99a0;
    --red40Hover: #ff6168;
    --red50Hover: #ee0713;
    --red60Hover: #b81922;
    --red70Hover: #c21e25;
    --red80Hover: #921118;
    --red90Hover: #66050a;
    --red100Hover: #540d11;

    --magenta10: #fff0f7;
    --magenta20: #ffd6e8;
    --magenta30: #ffafd2;
    --magenta40: #ff7eb6;
    --magenta50: #ee5396;
    --magenta60: #d02670;
    --magenta70: #9f1853;
    --magenta80: #740937;
    --magenta90: #510224;
    --magenta100: #2a0a18;

    --magenta10Hover: #ffe0ef;
    --magenta20Hover: #ffbdda;
    --magenta30Hover: #ff94c3;
    --magenta40Hover: #ff57a0;
    --magenta50Hover: #e3176f;
    --magenta60Hover: #b0215f;
    --magenta70Hover: #bf1d63;
    --magenta80Hover: #8e0b43;
    --magenta90Hover: #68032e;
    --magenta100Hover: #53142f;

    --purple10: #f6f2ff;
    --purple20: #e8daff;
    --purple30: #d4bbff;
    --purple40: #be95ff;
    --purple50: #a56eff;
    --purple60: #8a3ffc;
    --purple70: #6929c4;
    --purple80: #491d8b;
    --purple90: #31135e;
    --purple100: #1c0f30;

    --purple10Hover: #ede5ff;
    --purple20Hover: #dcc7ff;
    --purple30Hover: #c5a3ff;
    --purple40Hover: #ae7aff;
    --purple50Hover: #9352ff;
    --purple60Hover: #7822fb;
    --purple70Hover: #7c3dd6;
    --purple80Hover: #5b24ad;
    --purple90Hover: #40197b;
    --purple100Hover: #341c59;

    --blue10: #edf5ff;
    --blue20: #d0e2ff;
    --blue30: #a6c8ff;
    --blue40: #78a9ff;
    --blue50: #4589ff;
    --blue60: #0f62fe;
    --blue70: #0043ce;
    --blue80: #002d9c;
    --blue90: #001d6c;
    --blue100: #001141;

    --blue10Hover: #dbebff;
    --blue20Hover: #b8d3ff;
    --blue30Hover: #8ab6ff;
    --blue40Hover: #5c97ff;
    --blue50Hover: #1f70ff;
    --blue60Hover: #0050e6;
    --blue70Hover: #0053ff;
    --blue80Hover: #0039c7;
    --blue90Hover: #00258a;
    --blue100Hover: #001f75;


    --cyan10: #e5f6ff;
    --cyan20: #bae6ff;
    --cyan30: #82cfff;
    --cyan40: #33b1ff;
    --cyan50: #1192e8;
    --cyan60: #0072c3;
    --cyan70: #00539a;
    --cyan80: #003a6d;
    --cyan90: #012749;
    --cyan100: #061727;

    --cyan10Hover: #cceeff;
    --cyan20Hover: #99daff;
    --cyan30Hover: #57beff;
    --cyan40Hover: #059fff;
    --cyan50Hover: #0f7ec8;
    --cyan60Hover: #005fa3;
    --cyan70Hover: #0066bd;
    --cyan80Hover: #00498a;
    --cyan90Hover: #013360;
    --cyan100Hover: #0b2947;

    --teal10: #d9fbfb;
    --teal20: #9ef0f0;
    --teal30: #3ddbd9;
    --teal40: #08bdba;
    --teal50: #009d9a;
    --teal60: #007d79;
    --teal70: #005d5d;
    --teal80: #004144;
    --teal90: #022b30;
    --teal100: #081a1c;

    --teal10Hover: #acf6f6;
    --teal20Hover: #57e5e5;
    --teal30Hover: #25cac8;
    --teal40Hover: #07aba9;
    --teal50Hover: #008a87;
    --teal60Hover: #006b68;
    --teal70Hover: #007070;
    --teal80Hover: #005357;
    --teal90Hover: #033940;
    --teal100Hover: #0f3034;

    --green10: #defbe6;
    --green20: #a7f0ba;
    --green30: #6fdc8c;
    --green40: #42be65;
    --green50: #24a148;
    --green60: #198038;
    --green70: #0e6027;
    --green80: #044317;
    --green90: #022d0d;
    --green100: #071908;

    --green10Hover: #b6f6c8;
    --green20Hover: #74e792;
    --green30Hover: #36ce5e;
    --green40Hover: #3bab5a;
    --green50Hover: #208e3f;
    --green60Hover: #166f31;
    --green70Hover: #11742f;
    --green80Hover: #05521c;
    --green90Hover: #033b11;
    --green100Hover: #0d300f;

    --coolGray10: #f2f4f8;
    --coolGray20: #dde1e6;
    --coolGray30: #c1c7cd;
    --coolGray40: #a2a9b0;
    --coolGray50: #878d96;
    --coolGray60: #697077;
    --coolGray70: #4d5358;
    --coolGray80: #343a3f;
    --coolGray90: #21272a;
    --coolGray100: #121619;

    --coolGray10Hover: #e4e9f1;
    --coolGray20Hover: #cdd3da;
    --coolGray30Hover: #adb5bd;
    --coolGray40Hover: #9199a1;
    --coolGray50Hover: #757b85;
    --coolGray60Hover: #585e64;
    --coolGray70Hover: #5d646a;
    --coolGray80Hover: #434a51;
    --coolGray90Hover: #2b3236;
    --coolGray100Hover: #222a2f;

    --warmGray10: #f7f3f2;
    --warmGray20: #e5e0df;
    --warmGray30: #cac5c4;
    --warmGray40: #ada8a8;
    --warmGray50: #8f8b8b;
    --warmGray60: #726e6e;
    --warmGray70: #565151;
    --warmGray80: #3c3838;
    --warmGray90: #272525;
    --warmGray100: #171414;

    --warmGray10Hover: #f0e8e6;
    --warmGray20Hover: #d8d0cf;
    --warmGray30Hover: #b9b3b1;
    --warmGray40Hover: #9c9696;
    --warmGray50Hover: #7f7b7b;
    --warmGray60Hover: #605d5d;
    --warmGray70Hover: #696363;
    --warmGray80Hover: #4c4848;
    --warmGray90Hover: #343232;
    --warmGray100Hover: #2c2626;

    --gray10: #f4f4f4;
    --gray15: #ededed;
    --gray20: #e0e0e0;
    --gray30: #c6c6c6;
    --gray40: #a8a8a8;
    --gray50: #8d8d8d;
    --gray60: #6f6f6f;
    --gray70: #525252;
    --gray80: #393939;
    --gray90: #262626;
    --gray100: #161616;

    --gray10Hover: #e8e8e8;
    --gray20Hover: #d1d1d1;
    --gray30Hover: #b5b5b5;
    --gray40Hover: #999999;
    --gray50Hover: #7a7a7a;
    --gray60Hover: #5e5e5e;
    --gray70Hover: #636363;
    --gray80Hover: #474747;
    --gray90Hover: #333333;
    --gray100Hover: #292929;
}

.monoFont{
    --mono-font: 'IBM Plex Mono';
    --mono-weight: 400;

    font-family: var(--mono-font), Courier, mono;
    /* font-weight: var(--mono-weight); */
}

.sansFont{
    --sans-font: 'IBM Plex Sans';
    --sans-weight: 500;

    font-family: var(--sans-font), Helvetica, sans-serif;
    /* font-weight: var(--sans-weight); */

}

body{
    margin: 0;
    background-color: var(--blue10);

    --light-bg: var(--white);
    --dark-bg: var(--gray80);

    --light-text: var(--gray90);
    --dark-text: var(--gray10);

    --light-text-input:var(--dark-text);
    --dark-text-input: var(--light-text);

    --light-text-placeholder: #00000020;
    --dark-text-placeholder: #ffffff20;

    --light-text-button: var(--dark-text);
    --dark-text-button: var(--light-text);

    --light-bg-dialog: var(--gray30);
    --dark-bg-dialog: var(--gray70);

    --delete-color: var(--red60);

    --active-button-bg:var(--blue60);
    --focus-color: var(--blue60);

}

.roundBorder{
    border: #00000000 2px solid;
    border-radius: var(--corner-radius);
    padding: 0 .6em;
    box-sizing: border-box;
}

.flexRow{
    display: flex;
    flex-direction: row;
}

.warningIcon{
    color: var(--red60);
}

.buttonContents{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5em;
}

.appendTimeElement{
    margin: 3px;
    height: calc(3rem * .8);
}

.footer{
    background-color: var(--white);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: .5em 1vw .5em 1vw;
    border-top: 2px solid var(--gray15);

}
.header{
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em 1vw .5em 1vw;
    border-bottom: 2px solid var(--gray15);
}

#appendTime {
    /*margin: 0 auto;
    max-width: 1500px;*/
    width: 100%;

    --font-size:.8em;
}



.transitionDown{
    height: fit-content;
    max-height: 300px;
    overflow: hidden;
    -webkit-transition: max-height .15s ease-in-out;
    -moz-transition: max-height .15s ease-in-out;
    -ms-transition: max-height .15s ease-in-out;
    -o-transition: max-height .15s ease-in-out;
    transition: max-height .15s ease-in-out;
}

.hiddenForm{
    max-height: 0;
}

.primaryButton, .secondaryButton, .tertiaryButton, .deleteButton {
    font-weight: 700;
    font-size: var(--font-size);
}

button:disabled,
input[type="button"]:disabled{
    background-color: var(--gray30);
    color:var(--gray50);
}

.primaryButton{
    background-color: var(--blue60);
    color: var(--dark-text);
}
.primaryButton:hover:enabled{
    background-color: var(--blue60Hover);
}
.primaryButton:active:enabled{
    background-color: var(--blue80);
}
.primaryButton:disabled{
    background-color: var(--gray40);
    color:var(--gray20);
}

.primaryButton.purpleButton{
    background-color: var(--purple60);
    color: var(--dark-text);
}
.primaryButton.purpleButton:hover:enabled{
    background-color: var(--purple60Hover);
}
.primaryButton.purpleButton:active:enabled {
    background-color: var(--purple80);
    top:10px;
}
.primaryButton.purpleButton:disabled{
    background-color: var(--gray40);;
    color:var(--gray20);
}

.secondaryButton{
    background-color: var(--gray90);
    color: var(--dark-text);
}
.secondaryButton:hover:enabled{
    background-color: var(--gray90Hover);
}
.secondaryButton:active:enabled{
    background-color: var(--black);
}
.secondaryButton:disabled{
    background-color: var(--gray50);
    color:var(--gray20);
}

.tertiaryButton{
    background-color: var(--light-bg);
    border-color: var(--blue60);
    outline: 2px solid var(--light-bg);
    outline-offset: -4px;
    color: var(--blue60);
}
.tertiaryButton:hover:enabled{
    background-color: var(--blue60Hover);
    border-color: var(--blue60Hover);
    outline: none;
    color: var(--dark-text);
}
.tertiaryButton:active:enabled{
    background-color: var(--blue80);
    border-color: var(--blue80);
    outline: none;
    color: var(--dark-text);
}
.tertiaryButton:disabled{
    background-color: var(--light-bg);
    border-color: var(--gray50);
    outline: 2px solid var(--light-bg);
    outline-offset: -4px;
    color:var(--gray50);
}

.deleteButton{
    background-color: var(--red60);
    color: var(--dark-text);
}
.deleteButton:hover:enabled{
    background-color: var(--red60Hover);
}
.deleteButton:active:enabled{
    background-color: var(--red80);
}

.chevronButton{
    color: var(--gray20);
}

.chevronButton:hover{
    color: var(--gray20Hover);
}

.chevronButton:active{
    color: var(--gray40);
}

.textInput{
    background-color: var(--gray15);
    color: var(--light-text);
    font-family: var(--sans-font), Helvetica, sans-serif;
}
.textInput::placeholder {
    color: var(--gray60);
}
.textInput:-ms-input-placeholder {
    color: var(--gray60)
}
.textInput::-ms-input-placeholder {
    color: var(--gray60)
}

.notesInput:disabled{
    background-color: var(--gray20);
    border-color: #00000000;
}
.notesInput:disabled::placeholder{
    color:var(--gray30);
}
.notesInput:disabled:-ms-input-placeholder{
    color:var(--gray30);
}
.notesInput:disabled::-ms-input-placeholder{
    color:var(--gray30);
}

#dateInput,
.clockButton,
.notesInput{
    flex-grow: 1;
}

.dateTimeInput{
    min-width: 9em;
    max-width: 15em;
    text-align: center;
}

.dateTimeInput::-webkit-calendar-picker-indicator {
    display: none;
}

.dateTimeInput::after{
    height: 1.2em;
    width: 1.2em;
    padding-left: 1em;
}

#dateInput::after{
    content: url(/assets/svg/calendar.svg);
}
#timeInInput::after{
    content: url(/assets/svg/clock.svg);
}
#timeOutInput::after{
    content: url(/assets/svg/clock-off.svg);
}

#timerContainer{
    display: none;
    position: absolute;
    bottom:calc(100% + 5px);
    right: 5px;
    width: fit-content;
    background-color: var(--white);
    border: 2px solid var(--gray15);
    border-radius: calc(var(--corner-radius)*2);
    font-size: .8em;
}
#timer, #timerContainer{
    padding: max(1vh, 8px) min(1vw, 10px);
}
#timer, #timerCounter{
    display: flex;
    justify-content: center;

}
#timer{
    align-items: center;
    column-gap: .5em;
    background-color: var(--gray15);
    color: var(--light-text);
    font-family: var(--sans-font), Helvetica, sans-serif;
}
#timerCounter{
    align-items: baseline;
    column-gap: .3rem;
}
#timerSecond{
    font-size: .8em;
}

.hideButtonContainer{
    padding: 0 0 .3em 0;
}

#times{
    display: flex;
    flex-direction: row;
}

#verticalSubmitButton{
    display: none;
}

#verticalClearButton{
    display: none;
}

#verticalNotesInput{
    display: none;
}
#hideButton{
    display: none;
}

@media (pointer: coarse){
    .footer{
        border-top: 2px solid var(--gray15);
        border-left: 2px solid var(--gray15);
        border-right: 2px solid var(--gray15);
        border-top-left-radius: calc(var(--corner-radius)*2);
        border-top-right-radius: calc(var(--corner-radius)*2);
    }
    .header{
        border-bottom: 2px solid var(--gray15);
        border-left: 2px solid var(--gray15);
        border-right: 2px solid var(--gray15);
        border-bottom-left-radius: calc(var(--corner-radius)*2);
        border-bottom-right-radius: calc(var(--corner-radius)*2);
    }

    #hideButton{
        display: unset;
    }

    @media (min-width: 630px){
        .dateTimeInput{
            width: 10em;
        }
    }

    .notesInput:disabled{
        background-color: var(--gray20);
    }
    .notesInput::placeholder:disabled{
        color:black;
    }
}

@media (max-width: 630px) {
    .footer{
        border-top: 2px solid var(--gray15);
        border-left: 2px solid var(--gray15);
        border-right: 2px solid var(--gray15);
        border-top-left-radius: calc(var(--corner-radius)*2);
        border-top-right-radius: calc(var(--corner-radius)*2);
    }
    .header{
        border-bottom: 2px solid var(--gray15);
        border-left: 2px solid var(--gray15);
        border-right: 2px solid var(--gray15);
        border-bottom-left-radius: calc(var(--corner-radius)*2);
        border-bottom-right-radius: calc(var(--corner-radius)*2);
    }

    #hideButton{
        display: unset;
    }

    #times, #formInside {
        flex-direction: column;
    }
    .appendTimeElement{
        height: auto;
    }
    .roundBorder{
        border-radius: var(--corner-radius);
        padding: .3em .4em;
        box-sizing: border-box;
    }

    #horizontalSubmitButton{
        display: none;
    }
    #verticalSubmitButton{
        display: initial;
        flex-grow: 2;
    }

    #horizontalClearButton{
        display: none;
    }
    #verticalClearButton{
        display: initial;
        padding-left: 1em;
        padding-right: 1em;
    }

    #horizontalNotesInput{
        display: none;
    }
    #verticalNotesInput{
        display: initial;
        resize: none;
    }

    .clockButton{
        height: 4em;
    }

    .clockButton, .submitButton{
        font-weight: 700;
    }

}

.dialog{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    border: 2px solid var(--gray15);
    border-radius: calc(var(--corner-radius)*2);
    background-color: var(--white);
    color: var(--light-text);
}

.dialogHeader{
    font-size: 1.7em;
    font-weight: bold;
}

.dialogContent, .dialogText{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.dialogContent{
    padding: 1.5em;
}
.dialogText{
    padding: 0em 1.5em 1.5em 1.5em;
}

.dialogButton, .dialogText{
    font-size: var(--font-size);
}

.dialogButton{
    width: 7em;
    height: calc(3rem * .8);
}

dialog::backdrop {
  background: #FFFFFF60;


}

:focus{
    outline: 3px solid var(--light-bg);
    outline-offset: -1px;

    box-sizing: border-box;
}

